<h1>Homepage</h1>
<ul>
  <li>
    <a href="/movies/casablanca">
      Casablanca
    </a>
  </li>
  <li>
    <a href="/movies/before2000">
      Movies before Y2K
    </a>
  </li>
  <li>
    <a href="/directors/youngest">
      Youngest director
    </a>
  </li>
  <li>
    <a href="/directors/less_than_55">
      Directors less than 55
    </a>
  </li>
  <li>
    <a href="/directors/coppola">
      Francis Ford Coppola
    </a>
  </li>
  <li>
    <a href="/actors/freeman">
      Morgan Freeman
    </a>
  </li>
</ul>
